:root {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(36%) saturate(1536%) hue-rotate(217deg) brightness(94%) contrast(95%);

    --header-bg-color: #EEEEEE;
    --top-act-group-bg-color: #FFFFFF;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate: #EDEDF6
}